@import "tailwindcss";

@theme {
  --animate-pulse-fast: pulse-fast 1s cubic-bezier(.4, 0, .6, 1) infinite;

  --breakpoint-360: 360px;
  --breakpoint-390: 390px;
  --breakpoint-440: 440px;

  --breakpoint-768: 768px;
  --breakpoint-930: 930px;

  --breakpoint-1024: 1024px;

  --color-background: #0f2222;

  --color-connection-graph-border: #0f4040;
  --color-connection-graph-desktop-inner-ball-fill: #ffffff;
  --color-connection-graph-desktop-inner-ball-wrapper-border: #153f41;
  --color-connection-graph-inner-border: #151f1f;
  --color-connection-graph-inner-desktop-border-gradient-0: #148f9300;
  --color-connection-graph-inner-desktop-border-gradient-1: #148f93;
  --color-connection-graph-inner-desktop-border-gradient-2: #148f9300;
  --color-connection-graph-inner-fill: #081414;
  --color-connection-graph-level-indicator-border: #0e7c7c;
  --color-connection-graph-level-indicator-fill: #0e4b4b;
  --color-connection-graph-level-indicator-text: #0df2f2;
  --color-connection-graph-logo-inner-border: #0defef;
  --color-connection-graph-logo-inner-fill: #008e9759;
  --color-connection-graph-logo-outer-border: #095757;
  --color-connection-graph-outer-desktop-border: #104b4b;
  --color-connection-graph-path-found-declaration: #0b9595;
  --color-connection-graph-path-found-state-false: #f23a3a;
  --color-connection-graph-path-found-state-true: #9c57ea;
  --color-connection-graph-path-found-state: #0df2f2;
  --color-connection-graph-starting-ball-fill: #0ac1c1;
  --color-connection-graph-starting-ball-glow-soft: #57e3e399;
  --color-connection-graph-starting-ball-glow: #57e3e3;
  --color-connection-graph-status-error-border: #f23a3a;
  --color-connection-graph-status-error-fill: #2a0a0a;
  --color-connection-graph-status-path-length: #9c57ea;
  --color-connection-graph-target-ball-fill: #9c57ea;
  --color-connection-graph-target-ball-glow-soft: #b985ff99;
  --color-connection-graph-target-ball-glow: #b985ff;
  --color-connection-graph-title: #e7e9e9;

  --color-footer-copyright: #69747c;
  --color-footer-fill: #0c1b1b;
  --color-footer-language-hover: #b3bcc2;
  --color-footer-language-option-text-hover: #264d4d;
  --color-footer-language-option-text: #cdd3d6;
  --color-footer-language: #7c8c96;
  --color-footer-socials-hover: #b3bcc2;
  --color-footer-socials: #7c8c96;

  --color-form-active-submit-button-fill: #0ceded;
  --color-form-description: #808fa2;
  --color-form-desktop-border: #28383b;
  --color-form-desktop-fill: #0a2121;
  --color-form-desktop-input-starting-label: #0ac0c0;
  --color-form-desktop-input-target-label: #9d5aeb;
  --color-form-desktop-input-wrapper-border: #2f3e50;
  --color-form-desktop-submit-button-active-gradient-0: #8243ca;
  --color-form-desktop-submit-button-active-gradient-1: #1d9ea0;
  --color-form-desktop-submit-button-gradient-0: #9d5aeb;
  --color-form-desktop-submit-button-gradient-1: #11bec1;
  --color-form-input-border: #324242;
  --color-form-input-clear-icon: #607676;
  --color-form-input-desktop-icon: #5e6f85;
  --color-form-input-fill: #1c2d2d;
  --color-form-input-placeholder: #e3e8e8;
  --color-form-input-selection-background: #0cd6d699;
  --color-form-input-selection-text: #102222;
  --color-form-input-starting-tag: #0ac0c0;
  --color-form-input-target-tag: #9d5aeb;
  --color-form-input-text: #d8dbdb;
  --color-form-submit-button-fill: #0cd6d6;
  --color-form-submit-button-text: #102222;
  --color-form-switch-button-active-fill: #182334;
  --color-form-switch-button-border: #303e51;
  --color-form-switch-button-fill: #1e293b;
  --color-form-switch-button-hover-fill: #253650;
  --color-form-switch-icon-fill: #0dd7d7;
  --color-form-title-gradient-0: #0ac0c0;
  --color-form-title-gradient-1: #ffffff;
  --color-form-title-gradient-2: #9d5aeb;

  --color-header-border: #123034;
  --color-header-fill: #0a1f1f;
  --color-header-menu-toggle: #46a4a4;
  --color-header-projects-icon-fill: #667282;
  --color-header-projects-icon-hover-fill: #0cd6d6;
  --color-header-tooltip-arrow: #2e3944;
  --color-header-tooltip-fill: #2e3944;
  --color-header-tooltip-text: #f0f0f0;

  --color-optimal-path-results-card-border: #151f1f;
  --color-optimal-path-results-card-fill: #081414;
  --color-optimal-path-results-connection: #607676;
  --color-optimal-path-results-desktop-description: #9098a4;
  --color-optimal-path-results-desktop-summary-separator: #1d2526;
  --color-optimal-path-results-desktop-summary-title: #667282;
  --color-optimal-path-results-desktop-title-icon-fill: #0df2f2;
  --color-optimal-path-results-desktop-title: #fdfcff;
  --color-optimal-path-results-error: #f23a3a;
  --color-optimal-path-results-origin: #0ac1c1;
  --color-optimal-path-results-state: #0df2f2;
  --color-optimal-path-results-summary-era-spanned-and-total-runtime-value: #0df2f2;
  --color-optimal-path-results-summary-shared-genres-value: #ffffff;
  --color-optimal-path-results-summary-total-degrees-value: #a855f7;
  --color-optimal-path-results-summary-wrapper-border: #212D34;
  --color-optimal-path-results-summary-wrapper-fill: #091414;
  --color-optimal-path-results-summary-wrapper-tab-title: #667282;
  --color-optimal-path-results-target: #9c57ea;
  --color-optimal-path-results-text-primary: #e7e9e9;
  --color-optimal-path-results-text-secondary: #8a9c9c;
  --color-optimal-path-results-title: #e7e9e9;

  --color-overlay-button-border: #151f1f;
  --color-overlay-button-english-gradient-0: #0a3161;
  --color-overlay-button-english-gradient-1: #ffffff;
  --color-overlay-button-english-gradient-2: #b31942;
  --color-overlay-button-figma-gradient-0: #f24e1e;
  --color-overlay-button-figma-gradient-1: #ff7262;
  --color-overlay-button-figma-gradient-2: #a259ff;
  --color-overlay-button-figma-gradient-3: #1abcfe;
  --color-overlay-button-figma-gradient-4: #0acf83;
  --color-overlay-button-fill: #081414;
  --color-overlay-button-github: #5c6bc0;
  --color-overlay-button-icon-fill: #e7e9e9;
  --color-overlay-button-spanish-gradient-0: #ae0d12;
  --color-overlay-button-spanish-gradient-1: #fabe00;
  --color-overlay-button-spanish-gradient-2: #ae0d12;
  --color-overlay-menu-close-button: #45a4a4;

  --drop-shadow-connection-graph-balls-connection-line: 0 0 8px #57e3e3, 0 0 8px #9d71d0;
  --drop-shadow-connection-graph-logo: 0 0 10px #00eeff99;
  --drop-shadow-connection-graph-starting-ball: 0 0 5px #57e3e3;
  --drop-shadow-connection-graph-starting-ball-glow: 0 0 20px #57e3e3, 0 0 30px #57e3e3;
  --drop-shadow-connection-graph-target-ball: 0 0 5px #9d71d0;
  --drop-shadow-connection-graph-target-ball-glow: 0 0 20px #9d71d0, 0 0 30px #9d71d0;

  --drop-shadow-form-desktop-submit-button-0: 0 0 80px #57e3e398;
  --drop-shadow-form-desktop-submit-button-1: 0 0 20px #57e3e383;
  --drop-shadow-form-input-starting-tag: 0 0 10px #57e3e3;
  --drop-shadow-form-input-target-tag: 0 0 10px #9d71d0;
  --drop-shadow-form-submit-button: 0 0 7px #57e3e3;
  --drop-shadow-form: 0 0 20px #0000007e;

  --drop-shadow-optimal-path-results-connection: 0 0 5px #151f1f;
  --drop-shadow-optimal-path-results-origin: 0 0 10px #57e3e3;
  --drop-shadow-optimal-path-results-target: 0 0 10px #9d71d0;

  --text-shadow-header-title: 0 0 10px #00ffffcc, 0 0 20px #00ffff99, 0 0 30px #00ffff66, 0 0 40px #00ffff33;

  --font-brand-and-desktop-language-options: var(--font-brand-and-desktop-language-options);

  --font-connection-graph-path-found-declaration: var(--font-connection-graph-path-found-declaration);
  --font-connection-graph-path-found-state: var(--font-connection-graph-path-found-state);
  --font-connection-graph-title-and-level-indicator: var(--font-connection-graph-title-and-level-indicator);

  --font-footer: var(--font-footer);

  --font-form-description: var(--font-form-description);
  --font-form-input: var(--font-form-input);
  --font-form-submit-button: var(--font-form-submit-button);
  --font-form-title-and-desktop-input-label: var(--font-form-title-and-desktop-input-label);

  --font-header-tooltip: var(--font-header-tooltip);

  --font-optimal-path-results-desktop-description: var(--font-optimal-path-results-desktop-description);
  --font-optimal-path-results-desktop-results-and-summary: var(--font-optimal-path-results-desktop-results-and-summary);
  --font-optimal-path-results-desktop-title: var(--font-optimal-path-results-desktop-title);
  --font-optimal-path-results-results-details: var(--font-optimal-path-results-results-details);
  --font-optimal-path-results-results-title: var(--font-optimal-path-results-results-title);
  --font-optimal-path-results-state: var(--font-optimal-path-results-state);
  --font-optimal-path-results-title: var(--font-optimal-path-results-title);

  --font-overlay-button: var(--font-overlay-button);
}

@keyframes pulse-fast {
  50% {
    opacity: .5;
  }
}

@keyframes pulse-slow {
  50% {
    opacity: .5;
  }
}

@keyframes star-halo-starting {
  0% {
    filter: blur(4px) brightness(.95);
    opacity: .32;
  }
  50% {
    filter: blur(8px) brightness(1.18);
    opacity: .82;
  }
  100% {
    filter: blur(4px) brightness(.95);
    opacity: .32;
  }
}

@keyframes star-halo-target {
  0% {
    filter: blur(4px) brightness(.95);
    opacity: .32;
  }
  50% {
    filter: blur(8px) brightness(1.18);
    opacity: .82;
  }
  100% {
    filter: blur(4px) brightness(.95);
    opacity: .32;
  }
}
